@CHARSET "UTF-8";

body, html {
    height: 100%;
}

.parallax {
    /*The image used*/
   background-image:url('images/1.jpg');
   
   height: 100%;
   
   /*Create the parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Turn off parallax for tablets and phones*/
@media only screen and (max-device-width:1024px) {
    .paralalax {
        background-attachment: scroll;
    }
}
