@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Oswald";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}


.center {margin: 0 auto;}
.content {margin: 0 auto; width: 960px;}
.clear {clear: both;}
